html, body{
  height: 100%;
}

body {
  text-align: center;
  background-color: #F5F5F5;
  align-items: center;
}

h1 {
  color: #121212;
  font-size: 2.5rem;
  margin: 0;
}

hr {
  margin: 10px;
}

/* Sign In Page */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.simplebox {
  -webkit-box-shadow: none !important;
}

.top{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin:0;
}

.bottom{
  margin:0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Game Page */

.playerInfo {
  margin: 10px;
  position: relative;
}

.turn {
  color: #F05454;
  border-left: 5px solid black;
  border-right: 5px solid black;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0, 15px, 0, 15px;
  display: inline-block;
}

.player {
  color: #F05454;
  border-left: 5px solid #F5F5F5;
  border-right: 5px solid #F5F5F5;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0, 15px, 0, 15px;
  display: inline-block;
}


.wrapped {
  margin: 30px 130px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* Memory Cards  */

.col{
  height: 100px;
  border: 5px solid;
  border-radius: 10%;
  margin: 5px;
}

.memoryCardStart {
  background-color: #FF5959;
  animation-name: start;
  animation-duration: 2s;
}

.memoryCard {
  background-color: #FF5959;
}

.cardOut {
  background-color: #FEECE9;
  animation-name: out;
  animation-duration: 2s;
}

.cardPending {
  background-color: #FFAFAF;
}

.memoryCard:hover {
  background-color: #FE7E6D;
}

.memoryCardStart:hover {
  background-color: #FE7E6D;
}

/* Animation */



@keyframes out {
  from {background-color:#FFAFAF}
  to {background-color: #FEECE9}
}

@keyframes start {
  from {background-color:#FEECE9}
  to {background-color: #FF5959}
}

/* Else */

.memoryDeck {
  display: block;
  margin: 20px;
}

.button{
  display: block;
}


#startButton{
  margin: 32px;
}


/* Prevent Hover On Mobile Devices */
@media (hover:none){
  .memoryCard:hover {
    background-color: #FF5959;
  }
}
